#othello-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  background-image: url('/js-othello/img/othello_board.png');
  background-size: cover;
  margin: 0 auto;
}
#othello-container div {
  background-color: rgba(0, 0, 0, 0);
  margin: 1%;
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
  transition-duration: .33s;
}
#othello-container div.black {
  background-image: url('/js-othello/img/black_piece.png');
}
#othello-container div.white {
  background-image: url('/js-othello/img/white_piece.png');
}
